.footer {
  background-color: #413e3f;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-top: 11px;
}
/*----------------------------------------------------------------------------------------------------------------------*/
.place {
  display: flex;
  margin-left: 12px;
}

.place svg {
  color: white;
  margin-top: -2px;
  width: 25px;
  height: 25px;
}
/*----------------------------------------------------------------------------------------------------------------------*/
.phone {
  display: flex;
  margin-left: 35px;
  margin-top: 3px;
}

.phone svg {
  display: flex;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
/*------------------------------------------------------------------------------------------------------------------------*/
.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list li:svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  /* margin-top: 1em; */
}

.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
